.app {
  height: 100%;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.editor {
  height: 100%;
  display: flex;
}

.canvasWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(100vw - 300px);
  background-color: black;
}

.canvas {
  max-width: calc(100vw - 300px);
  max-height: 100vh;
}

.sidebar {
  width: 300px;
  height: 100%;
  background-color: #333;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.video {
  width: 100%;
  opacity: 0.65;
  flex-shrink: 0;
}

.buttonsAndInfo {
  flex-shrink: 0;
}

.info {
  color: white;
  font-size: 14px;
  opacity: 0.5;
  margin-top: 4px;
}

.entries {
  flex-shrink: 1;
  overflow: scroll;
}

.entry {
  color: cyan;
  font-size: 14px;
  opacity: 0.7;
  margin-top: 4px;
}

.box {
  background-color: #ffffff2e;
  border: 1px solid white;
  width: 100px;
  height: 100px;
  position: absolute;
  resize: both;
  overflow: auto;
  box-sizing: content-box;
}
